@import "../../../variables"

:local(.ScoreCard)
  center()
  min-height: 100vh
  padding: 40px 0px 0px
  background-image: url('/img/backgroundPattern.png')
  relative()
  +above(768px)
    padding: 70px 0px 0px

:local(.column)
  relative()

:local(.Logo)
  col(1)
  height 350px
  +landscape()
    height 400px
  +above(768px)
    col(2/5)
    height 90vh

:local(.h1)
  align(h)
  top 100px
  size 250px auto
  text-align: center
  font-size: 30px
  font-family: fontHead
  font-weight: 400
  line-height: 40px
  i
    font-size: 40px

:local(.logoWrapper)
  align(b)
  center()
  size 100% auto
  .imgWrapper
    padding 0px 20px
    &.royal
      img
        margin 65px auto

:local(.img)
  size 200px auto
  max-width: 100%
  display: block
  margin: 25px auto

:local(.Score)
  col(1)
  height 400px
  +above(768px)
    col(3/5)
    height 90vh

:local(.ScoreWrapper)
  align(b)
