@import "../../variables"

:local(.Name)
  margin auto

:local(.head)
  font-family: fontHead
  text-align: center;
  font-weight: 400
  line-height: 0px

:local(.number)
  font-size: 68px
  line-height: 68px

:local(.name)
  font-size: 35px
  line-height: 70px
  letter-spacing: 3px

:local(.par)
  font-size: 25px
  line-height: 25px
  letter-spacing: 3px
