@import "../../variables"

:local(.ScoreListItem)
  center()
  font-family: fontMain
  font-weight: 400
  border-bottom: 1px solid black
  // background-color white
  cursor: pointer

:local(.noBorder)
  border none

:local(.mainCourse)
  width: 368px
  max-width: 100vw
  .column
    span(1/6)
    text-align: center
    font-size: 15px
    letter-spacing: 1px
    line-height: 30px
    height: 30px
    font-family: fontHead
  .number
    text-align: center
    line-height: 30px
    font-size: 21px
    font-family: fontHead

:local(.royal9)
  width: 298px
  .column
    span(1/5)
    text-align: center
    font-size: 15px
    letter-spacing: 1px
    line-height: 30px
    height: 30px
  .number
    text-align: center
    line-height: 30px
    font-size: 21px
    font-family: fontHead
    // border-right 1px solid black

:local(.hover)
  background-color rgba(hover, 0.5)

:local(.black)
  background-color rgba(black, 0.21)
:local(.white)
  background-color rgba(#EBE1C5, 0.21)
:local(.green)
  background-color rgba(green, 0.21)
:local(.gold)
  background-color rgba(gold, 0.21)
:local(.par)
  // background-color white
