doctype html
html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta( http-equiv="x-ua-compatible" content="ie=edge")
    title Royal Ottawa Golf Club
    meta( name="description" content="The Royal Ottawa Golf Club is a premier private golf club, respectful of our fellow members, our history and traditions and the spirit of the game.")
    meta( name="viewport" content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=2")
    link(rel="icon", type="image/png", href="/favicon-32x32.png?v=2", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png?v=2", sizes="16x16")
    link(rel="manifest", href="/manifest.json?v=2")
    link(rel="mask-icon", href="/safari-pinned-tab.svg?v=2", color="#5bbad5")
    link(rel="shortcut icon", href="/favicon.ico?v=2")
    meta(name="theme-color", content="#ffffff")

    link( href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O", crossorigin="anonymous")
    link( href='/black-tie/css/black-tie.min.css' rel="stylesheet" )
    link( rel='stylesheet' href='/css/kube.css')
    script( src="https://use.typekit.net/ycz4oai.js")
    script try{Typekit.load({ async: true });}catch(e){}

    script( src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
  body
    |    <!--[if lt IE 9]>
    |        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    |    <![endif]-->

    //- react mount point
    #root

    //- React app
    script(src='/js/bundle.js')

    //- script.
    //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-   e.src='https://www.google-analytics.com/analytics.js';
    //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-   ga('create','UA-XXXXX-X','auto');ga('send','pageview');
