@import "../../variables"

:local(.Paragraph)
  center(320px)
  padding 0px 20px
  margin 25px auto
  font-family: fontMain
  text-align: center
  font-size: 16px
  line-height: 25px
  +above(768px)
    font-size: 18px
    line-height: 35px
    padding 0px
