@import "../../variables"

:local(.Royal9)
  fixed top 0px left 0px
  size 100% 100%
  padding-top: 70px
  overflow: hidden
  +above(768px)
    background-color white

:local(.wrapper)
  center()
  height: 90vh

:local(.Left)
  col(1)
  relative()
  height: 30vh
  +landscape()
    col(1/3)
    height: 90vh

:local(.LeftContainer)
  center()
  +landscape()
    align(b)

:local(.oneThird)
  +portrait()
    col(1/3)
    relative()
    height 30vh

:local(.Right)
  col(1)
  relative()
  height: 60vh
  +landscape()
    col(2/3)
    height: 90vh

:local(.column)
  relative()
  height 90vh

:local(.ScoreList)
  col(5/12)

:local(.Map)
  col(7/12)

:local(.SVG)
  size 100% auto
  max-width: 100%
  max-height: 100%

:local(.imgWrapper)
  size 100% auto
  max-width: 600px
  max-height: 698.47px
  +above(767px)
    align(b)

:local(.img)
  size 100% auto
  max-width: 100%
  max-height: 100%
  margin: auto

:local(.StackedList)
  display: block
  +above(1024px)
    align(b)

:local(.mobileColumn)
  span(1/6, cycle:6)
  color white
  border-right: 1px solid white
  text-align: center
  cursor: pointer
  line-height: 40px
  font-size: 20px
  height: 40px


// import Color from 'color';
// import {font, color} from '../../Variables';
//
// const {white} = color;
//
// // console.log(color.white);
//
// export default {
//   base:{
//     position: 'fixed',
//     top: 0,
//     left: 0,
//     width: '100%',
//     height: '100%',
//     paddingTop: 70,
//     overflow: 'hidden'
//   },
//   mobileColumn:{
//     width:'16.66%',
//     margin: 'auto',
//     color: Color(white).rgbString(),
//     borderRight: `1px solid ${Color(white).rgbString()}`,
//     textAlign: 'center',
//     lineHeight: '40px',
//     fontSize: 20,
//     height: 40
//   },
//   column:{
//     display: 'flex',
//     alignItems: 'center',
//     flexDirection: 'column',
//     position: 'relative'
//   },
//   wrapper: {
//     maxWidth: 1440,
//     margin: 'auto'
//   },
//   imgWrapper:{
//     maxWidth: 600,
//     maxHeight: 407.83,
//     position: 'relative',
//     margin: 'auto'
//   },
//   SVG:{
//     maxWidth: '100%',
//     maxHeight: '100%'
//   },
//   img:{
//     maxWidth: '100%',
//     maxHeight: '100%',
//     margin: 'auto'
//   }
// };
