@import "../../variables"

:local(.Hand)
  center(100px)
  display: block
  text-align: center
  color #A6A6A6

:local(.img)
  size 50px auto
  display: block
  margin: 10px auto

:local(.text)
  font-family: fontHead
  font-size: 18px
  line-height: 25px
