@import "../../variables"

:local(.Hole)
  relative()
  +below(767px)
    size 80% auto
    display: block
    margin: 25px auto
  +between(768px, 1024px)
    align(b)
    +portrait()
      size 80% auto
  +above(1025px)
    align(b)
    size 100% auto
    max-width: 80%
  i
    color white
    font-size: 30px
    align(b)
    cursor: pointer
    hover-color grey true
    opacity: 0.5


:local(.img)
  max-height: 80vh
  max-width: 100%
  display: block
  margin: auto
