@import "../../variables"

:local(.base)
  color black
  text-decoration: none
  relative()
  size 190px 40px
  display: block
  border 1px solid black

:local(.icon)
  font-size: 25px
  align(v)
  left 15px

:local(.text)
  font-size: 14px
  font-weight: 400
  letter-spacing: 3px
  font-family: fontHead
  align(v)
  right 14px
