@import "../../variables"

:local(.ScoreCard)
  margin 25px auto
  font-weight: 400
  text-align: center
  font-family: fontHead

:local(.main)
  center(362px)
  width 362px
  +below(768px)
    center(282px)
    width 282px
    margin: 25px auto

:local(.royal9)
  center(272px)
  width 272px
  +below(768px)
    center(212px)
    width 212px
    margin 25px auto

:local(.column)
  &.main
    span(1/4)
  &.royal9
    span(1/3)
  height 90px
  +below(768px)
    height 70px
  .number
    font-size: 30px
    letter-spacing: 3px
    padding 22px 0px 8px
    +below(768px)
      padding 13px 0px 0px
      font-size: 25px
  .name
    font-size: 16px
    padding: 0px
    +below(768px)
      font-size: 14px

:local(.black)
  background-color black
  color white

:local(.white)
  // background-color white
  border 1px solid black
  color black

:local(.green)
  background-color green
  color white

:local(.gold)
  background-color gold
  color black
