@import "../../variables"

:local(.base)
  // align(b)
  fixed top -100vh
  display: block
  size 100% 100%
  // background-color rgba(black, 0.25)

:local(.imgWrapper)
  align(b)
  background-color rgba(black, 0.5)
  size 600px auto
  max-width: 80%
  padding 5px
  img
    size 100% 100%
    display: block
