@import "../../variables"

:local(.PropertyMap)
  fixed top 0px left 0px
  size 100% 100%
  padding-top: 70px
  overflow: hidden
  background-color white
  +below(767px)
    // background-color rgba(black, 0.75)
    height 0
    padding-top: 0px

:local(.wrapper)
  center()

:local(.column)
  +above(1024px)
    relative()
    height 90vh

:local(.Logo)
  absolute bottom 100px left -60px
  +below(767px)
    absolute bottom 40px left 25px
  +above(1024px)
    col(1/3)
    relative bottom 0px left 0px

:local(.LeftContainer)
  align(b)

:local(.Map)
  col(9/10, offset: 1/10)
  height 90vh
  relative()
  +below(767px)
    col(1)
  +above(1024px)
    col(2/3)

:local(.SVG)
  size 100% auto
  max-width: 100%
  max-height: 100%
  absolute top 0px left 0px

:local(.imgWrapper)
  size 700px auto
  max-width: 80%
  absolute top 0px left 0px
  +above(768px)
    align(b)
  +below(767px)
    max-width: 80%
    // max-height: 300px

:local(.img)
  size 100% auto
  max-width: 100%
  max-height: 100%
  margin: auto

:local(.StackedList)
  display: block
  +above(768px)
    align(b)

:local(.unStackListColumn)
  col(1/2)

:local(.mobileColumn)
  span(1/6, cycle:6)
  color white
  border-right: 1px solid white
  text-align: center
  cursor: pointer
  line-height: 40px
  font-size: 20px
