@import "axis"
@import "rupture"
@import "jeet"

:local(.page)
  display: block
  absolute()
  size 100% auto
  min-height: 100%
  margin auto
  background-image: url('/img/backgroundPattern.png')
  padding: 70px 0px 50px
  +below(767px)
    size 100% auto

:local(.LeftArrow)
  align(v)
  fixed()
  left 0px
  text-decoration: none
  color black
  hover-color grey true
  img
    size 100px auto
    +below(767px)
      size 50px auto


:local(.RightArrow)
  align(v)
  fixed()
  right 0px
  text-decoration: none
  color black
  hover-color grey true
  img
    size 100px auto
    +below(767px)
      size 50px auto

:local(.container)
  center(1200px)
  height 90vh
  min-height: 761px

:local(.column)
  col(1/2)
  height 90vh
  min-height: 761px
  relative()

:local(.Right)
  min-height: 90vh

:local(.wrapper)
  align(b)
