@import "../../variables"

:local(.MainCourse)
  fixed top 0px left 0px
  size 100% 100%
  padding-top: 70px
  overflow: hidden
  +above(768px)
    background-color white

:local(.wrapper)
  center()

:local(.Left)
  col(1)
  relative()
  height: 30vh
  +above(800px)
    col(1/3)
    height 90vh

:local(.LeftContainer)
  center()
  +landscape()
    align(b)
    // border 1px solid black

:local(.oneThird)
  col(1)
  relative()
  height 30vh
  +portrait()
    col(1/3)

#button
  // align(b)
  display: block
  size 190px 40px
  border 1px solid black
  color black
  text-decoration: none
  font-family: fontHead
  font-size: 14px
  font-weight: 400
  letter-spacing: 3px
  text-align: center
  line-height: 40px

:local(.Right)
  col(1)
  relative()
  height: 60vh
  +above(800px)
    col(2/3)
    height 90vh

:local(.column)
  relative()
  height 90vh

:local(.ScoreList)
  col(5/12)

:local(.Map)
  col(7/12)

:local(.SVG)
  size 100% auto
  max-width: 100%
  max-height: 100%

:local(.imgWrapper)
  size 100% auto
  max-width: 600px
  max-height: 698.47px
  +above(767px)
    align(b)

:local(.img)
  size 100% auto
  max-width: 100%
  max-height: 100%
  margin: auto

:local(.StackedList)
  display: block
  +above(768px)
    align(b)

:local(.unStackListColumn)
  col(1/2)

:local(.mobileColumn)
  span(1/6, cycle:6)
  color white
  border-right: 1px solid white
  text-align: center
  cursor: pointer
  line-height: 40px
  font-size: 20px
